$primary-color: #00A087;
$secondary-color: #E8FDFF;

#nav-bar {
  position: fixed;
  top: 0;
  padding-left: 2em;
  height: 80px;
  width: 100%;
  background-color: $primary-color;
  color: $secondary-color;
  z-index: 1;

  .logo {
    height: 80px;
    width: 80px;
  }
  
  .header {
    padding-left: 10px;
    font-size: 2rem;
    line-height: 2.5;
  }
  
  .float {
    float: left;
  }

  .compose {
    float: right;
    border: 1px solid #000;
    border-radius: 0.25em;
    padding: 0.5em;
    margin: 0.5em 0.5em 0 0;
    font-size: 1.5em; 
    background-color: $secondary-color;
    color: $primary-color;
    cursor: pointer;
  }

  .compose:hover {
    background-color: #FFF;
    color: #000;
  }
}