#nav-bar {
    position: fixed;
    top: 0;
    padding-left: 2em;
    height: 80px;
    width: 100%;
    background-color: #00A087;
    color: #E8FDFF;
    z-index: 1;
  }
  
  #nav-bar .logo {
    height: 80px;
    width: 80px;
  }
  
  #nav-bar .header {
    padding-left: 10px;
    font-size: 2rem;
    line-height: 2.5;
  }
  
  #nav-bar .float {
    float: left;
  }

  #nav-bar .compose {
    float: right;
    border: 1px solid #000;
    border-radius: 0.25em;
    padding: 0.5em;
    margin: 0.5em 0.5em 0 0;
    font-size: 1.5em; 
    background-color: #E8FDFF;
    color: #00A087;
    cursor: pointer;
  }

  #nav-bar .compose:hover {
    background-color: #FFF;
    color: #000;
  }