.new-tweet {
    position: relative;
    background-color: #eee;
    border: 1px solid gray;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
    display: none;
}

.new-tweet h2 {
    border-bottom: 0.1em solid black;
    margin-top: 0;
}

.new-tweet textarea {
    width: 100%;
    padding: 5px;
    resize: vertical;
    min-height: 5em;
}

.new-tweet input {
    margin-bottom: 1em;
}

.new-tweet .counter {
    margin-bottom: 1em;
    float: right;
}

.new-tweet .invalid {
    color: red;
}

.new-tweet .error-div {
    height: 2em;
    width: 100%;
    background-color: pink;
    color: maroon;
    padding: 0.5em;
    /* border: 1px solid darkred; */
    margin: 0.5em 0;
    display: none;
}

.new-tweet .error-message {
    padding: 1em;
}