.new-tweet {
    position: relative;
    background-color: #eee;
    border: 1px solid gray;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
}

.new-tweet h2 {
    border-bottom: 0.1em solid black;
}

.new-tweet textarea {
    width: 100%;
    padding: 5px;
}

.new-tweet input {
    position: relative;
    margin-bottom: 1em;
}

.new-tweet .counter {
    position: relative;
    margin-bottom: 1em;
    float: right;
}