.new-tweet {
    background-color: #eee;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1em;
}

.new-tweet h2 {
    border-bottom: 1px solid black;
}

.new-tweet textarea {
    width: 415px;
    padding: 5px;
    /* margin: 1em; */
}

/* .new-tweet input {
    margin: 0 0 1em 1em;
} */

.new-tweet .counter {
    margin: 1em;
    right: 0;
    float: right;
}